In [23]:
import pandas as pd
df_hist_fires=pd.read_csv('./df_hist_fires.csv')
df_hist_fires.dropna()
df_hist_fires.head(5)

,Unnamed: 0,Name,State,Hectacres Burned,Acres Burned,Other Damage,Year,Human Fatalities,Homes Destroyed,Other Structures Destroyed
0,2,Black Thursday bushfires,Victoria,"5,000,000","12,000,000",1 million sheepthousands of cattle,1851,12.0,NaN,NaN
1,3,Red Tuesday bushfires,Victoria,"260,000","640,000",,1898,12.0,NaN,2000.0
2,4,1926 bushfires,Victoria,"390,000","960,000",,1926,60.0,1000.0,NaN
3,5,Black Friday bushfires,Victoria,"2,000,000","4,900,000",,1938,71.0,3700.0,NaN
4,6,1944 Victorian bushfires,Victoria,"1,000,000","2,500,000",,1944,15.0,500.0,NaN

In [ ]:
import chart_studio.plotly as py
import plotly.graph_objects as go
import pandas as pd

df_fires = pd.read_csv('./df_hist_fires.csv')
df_fires.head(5)
fig = go.Figure(go.Scatter(x=df_fires.Year, y=df_fires.State, text=df_fires.Name, mode='markers', name='2007'))
fig.update_xaxes(title_text='Year')
fig.update_yaxes(title_text='State')

py.iplot(fig, filename='pandas-multiple-scatter')

In [ ]:
import chart_studio.plotly as py
import plotly.graph_objects as go
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminder2007.csv')

fig = go.Figure(go.Scatter(x=df.gdpPercap, y=df.lifeExp, text=df.country, mode='markers', name='2007'))
fig.update_xaxes(title_text='GDP per Capita', type='log')
fig.update_yaxes(title_text='Life Expectancy')

py.iplot(fig, filename='pandas-multiple-scatter')