In [1]:
# importing dependencies here
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import csv
from tabula import read_pdf
import tabula

degree_sign = u"\N{DEGREE SIGN}"

%load_ext nb_black

In [2]:
url = "http://www.bom.gov.au/web01/ncc/www/cli_chg/timeseries/tmax/0112/aus/latest.txt"
response_string = requests.get(url).text.split("\n")[:-1]
col1 = [int(item[0:4]) for item in response_string]
col2 = [float(item[15:]) for item in response_string]
dict_of_cols = {"year": col1, f"max_temp_anomaly_celcius": col2}
aus_max_temp_anomaly_df = pd.DataFrame(data=dict_of_cols)
aus_max_temp_anomaly_df.to_csv("aus_max_temp_anomaly_data.csv", index=False)
aus_max_temp_anomaly_df.head()

   year  max_temp_anomaly_celcius
0  1910                     -0.71
1  1911                     -0.51
2  1912                     -0.00
3  1913                     -0.71
4  1914                      0.18

In [3]:
url = "http://www.bom.gov.au/web01/ncc/www/cli_chg/timeseries/tmin/0112/aus/latest.txt"
response_string = requests.get(url).text.split("\n")[:-1]
col1 = [int(item[0:4]) for item in response_string]
col2 = [float(item[15:]) for item in response_string]
dict_of_cols = {"year": col1, "min_temp_anomaly_celcius": col2}
aus_min_temp_anomaly_df = pd.DataFrame(data=dict_of_cols)
aus_min_temp_anomaly_df.to_csv("aus_min_temp_anomaly_data(C).csv", index=False)
aus_min_temp_anomaly_df.head(2)

   year  min_temp_anomaly_celcius
0  1910                     -0.32
1  1911                     -0.86

In [4]:
url = "http://www.bom.gov.au/web01/ncc/www/cli_chg/timeseries/tmean/0112/aus/latest.txt"
response_string = requests.get(url).text.split("\n")[:-1]
col1 = [int(item[0:4]) for item in response_string]
col2 = [float(item[15:]) for item in response_string]
dict_of_cols = {"year": col1, "mean_temp_anomaly_celcius": col2}
aus_mean_temp_anomaly_df = pd.DataFrame(data=dict_of_cols)
aus_mean_temp_anomaly_df.to_csv("aus_mean_temp_anomaly_data.csv", index=False)
aus_mean_temp_anomaly_df.head(2)

   year  mean_temp_anomaly_celcius
0  1910                      -0.51
1  1911                      -0.68

In [5]:
url = "http://www.bom.gov.au/web01/ncc/www/cli_chg/timeseries/rain/0112/aus/latest.txt"
response_string = requests.get(url).text.split("\n")[:-1]
col1 = [int(item[0:4]) for item in response_string]
col2 = [float(item[14:]) for item in response_string]
dict_of_cols = {"year": col1, "annual_rainfall_mm": col2}
aus_annual_rainfall_df = pd.DataFrame(data=dict_of_cols)
aus_annual_rainfall_df.to_csv("aus_annual_rainfall_data.csv", index=False)
aus_annual_rainfall_df.head(2)

   year  annual_rainfall_mm
0  1900              373.40
1  1901              406.65

In [6]:
url = (
    "http://www.bom.gov.au/web01/ncc/www/cli_chg/timeseries/rranom/0112/aus/latest.txt"
)
response_string = requests.get(url).text.split("\n")[:-1]
col1 = [int(item[0:4]) for item in response_string]
col2 = [float(item[13:]) for item in response_string]
dict_of_cols = {"year": col1, "annual_rainfall_anomaly_mm": col2}
aus_annual_rainfall_anomaly_df = pd.DataFrame(data=dict_of_cols)
aus_annual_rainfall_anomaly_df.to_csv(
    "aus_annual_rainfall_anomaly_data.csv", index=False
)
aus_annual_rainfall_anomaly_df.head(2)

   year  annual_rainfall_anomaly_mm
0  1900                      -91.79
1  1901                      -58.54

In [7]:
url = "http://www.bom.gov.au/web01/ncc/www/cli_chg/timeseries/sst/0112/aus/latest.txt"
response_string = requests.get(url).text.split("\n")[:-1]
col1 = [int(item[0:4]) for item in response_string]
col2 = [float(item[15:]) for item in response_string]
dict_of_cols = {"year": col1, "sea_surface_temp_anomaly_celcius": col2}
aus_sea_surface_temp_anomaly_df = pd.DataFrame(data=dict_of_cols)
aus_sea_surface_temp_anomaly_df.to_csv(
    "aus_sea_surface_temp_anomaly_data.csv", index=False
)
aus_sea_surface_temp_anomaly_df.head(2)

   year  sea_surface_temp_anomaly_celcius
0  1900                             -0.08
1  1901                             -0.49

In [8]:
aus_annual_mean_co2_df = (
    pd.read_csv("../air_pollutant_data/CapeGrim_CO2_data.csv")[0:-1]
    .groupby("YYYY")["CO2(ppm)"]
    .mean()
    .to_frame()
)
aus_annual_mean_co2_df.head(2)

        CO2(ppm)
YYYY
1976  330.172875
1977  331.697000

In [9]:
aus_annual_mean_ch4_df = (
    pd.read_csv("../air_pollutant_data/CapeGrim_CH4_data.csv")[0:-1]
    .groupby("YYYY")["CH4(ppb)"]
    .mean()
    .to_frame()
)
aus_annual_mean_ch4_df.head(2)

      CH4(ppb)
YYYY
1978   1488.05
1979   1495.10

In [10]:
aus_annual_mean_n2o_df = (
    pd.read_csv("../air_pollutant_data/CapeGrim_N2O_data.csv")[0:-1]
    .groupby("YYYY")["N2O(ppb)"]
    .mean()
    .to_frame()
)
aus_annual_mean_n2o_df.head(2)

      N2O(ppb)
YYYY
1978    299.37
1980    301.66

In [11]:
aus_co2_ch4_df = pd.merge(aus_annual_mean_co2_df, aus_annual_mean_ch4_df, on="YYYY")
aus_air_pollutants_combined_data = pd.merge(
    aus_co2_ch4_df, aus_annual_mean_n2o_df, on="YYYY"
)
aus_air_pollutants_combined_data.to_csv(
    "aus_air_pollutants_combined_data.csv", index=False
)
aus_air_pollutants_combined_data.head(2)

        CO2(ppm)  CH4(ppb)  N2O(ppb)
YYYY
1978  333.476000   1488.05    299.37
1980  336.526167   1540.10    301.66