In [7]:
import csv
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.exc import ProgrammingError
import warnings
import sqlalchemy
# from config import my_password

USER = "root"
PASSWORD = "Attrye@123"
HOST = "127.0.0.1"
PORT = "3306"
DATABASE = "bushfires_db"

engine = create_engine(f"mysql+pymysql://{USER}:{PASSWORD}@{HOST}:{PORT}")

try:
    engine.execute(f"CREATE DATABASE {DATABASE}")
except ProgrammingError:
    warnings.warn(
        f"Could not create database {DATABASE}. Database {DATABASE} may already exist."
    )
    pass

engine.execute(f"USE {DATABASE}")

# The below script is for adding tables to the database. If a table already exists, it is dropped and re-added. 

# Fire Count tables begin here --------------------------------------------------------------------------------

# New South Wales 
FIRE_COUNT_TABLENAME1 = "nsw_fire_counts" 
engine.execute(f"DROP TABLE IF EXISTS {FIRE_COUNT_TABLENAME1}")

df = pd.read_csv(
    "fire_counts_data/Table_MODIS_fire_counts_2002_2019_NSW_per_fire_year.csv"
).to_sql(
    name=FIRE_COUNT_TABLENAME1,
    con=engine,
    index=False,
    dtype=sqlalchemy.types.INTEGER(),
)

# Queensland 
FIRE_COUNT_TABLENAME2 = "queensland_fire_counts"
engine.execute(f"DROP TABLE IF EXISTS {FIRE_COUNT_TABLENAME2}")

df = pd.read_csv(
    "fire_counts_data/Table_MODIS_fire_counts_2002_2019_Queensland_per_fire_year.csv"
).to_sql(
    name=FIRE_COUNT_TABLENAME2,
    con=engine,
    index=False,
    dtype=sqlalchemy.types.INTEGER(),
)

# Victoria 
FIRE_COUNT_TABLENAME3 = "victoria_fire_counts" 
engine.execute(f"DROP TABLE IF EXISTS {FIRE_COUNT_TABLENAME3}")

df = pd.read_csv(
    "fire_counts_data/Table_MODIS_fire_counts_2002_2019_Victoria_per_fire_year.csv"
).to_sql(
    name=FIRE_COUNT_TABLENAME3,
    con=engine,
    index=False,
    dtype=sqlalchemy.types.INTEGER(),
)
# End of Fire Count tables

# Climate/Air tables begin here -------------------------------------------------------------------------------

# Australia Max Temp Anomaly Table
CLIMATE_TABLENAME1 = "aus_max_temp_anomaly_data" 
engine.execute(f"DROP TABLE IF EXISTS {CLIMATE_TABLENAME1}")

df = pd.read_csv(
    "climate_data/aus_max_temp_anomaly_data.csv"
).to_sql(
    name=CLIMATE_TABLENAME1,
    con=engine,
    index=False,
    dtype={"year": sqlalchemy.types.INTEGER(), "max_temp_anomaly_celcius": sqlalchemy.types.Float(precision=3, asdecimal=True)}
)

# Australia Min Temp Anomaly Table
CLIMATE_TABLENAME2 = "aus_min_temp_anomaly_data" 
engine.execute(f"DROP TABLE IF EXISTS {CLIMATE_TABLENAME2}")

df = pd.read_csv(
    "climate_data/aus_min_temp_anomaly_data.csv"
).to_sql(
    name=CLIMATE_TABLENAME2,
    con=engine,
    index=False,
    dtype={"year": sqlalchemy.types.INTEGER(), "min_temp_anomaly_celcius": sqlalchemy.types.Float(precision=3, asdecimal=True)}
)

# Australia Mean Temp Anomaly Table
CLIMATE_TABLENAME3 = "aus_mean_temp_anomaly_data" 
engine.execute(f"DROP TABLE IF EXISTS {CLIMATE_TABLENAME3}")

df = pd.read_csv(
    "climate_data/aus_mean_temp_anomaly_data.csv"
).to_sql(
    name=CLIMATE_TABLENAME3,
    con=engine,
    index=False,
    dtype={"year": sqlalchemy.types.INTEGER(), "mean_temp_anomaly_celcius": sqlalchemy.types.Float(precision=3, asdecimal=True)}
)

# Australia Annual Rainfall Table
CLIMATE_TABLENAME4 = "aus_annual_rainfall_data" 
engine.execute(f"DROP TABLE IF EXISTS {CLIMATE_TABLENAME4}")

df = pd.read_csv(
    "climate_data/aus_annual_rainfall_data.csv"
).to_sql(
    name=CLIMATE_TABLENAME4,
    con=engine,
    index=False,
    dtype={"year": sqlalchemy.types.INTEGER(), "annual_rainfall_mm": sqlalchemy.types.Float(precision=3, asdecimal=True)}
)

# Australia Annual Rainfall Anomaly Table
CLIMATE_TABLENAME5 = "aus_annual_rainfall_anomaly_data" 
engine.execute(f"DROP TABLE IF EXISTS {CLIMATE_TABLENAME5}")

df = pd.read_csv(
    "climate_data/aus_annual_rainfall_anomaly_data.csv"
).to_sql(
    name=CLIMATE_TABLENAME5,
    con=engine,
    index=False,
    dtype={"year": sqlalchemy.types.INTEGER(), "annual_rainfall_anomaly_mm": sqlalchemy.types.Float(precision=3, asdecimal=True)}
)

# Australia Sea Surface Temperature Anomaly Table
CLIMATE_TABLENAME6 = "aus_sea_surface_temp_anomaly_data" 
engine.execute(f"DROP TABLE IF EXISTS {CLIMATE_TABLENAME6}")

df = pd.read_csv(
    "climate_data/aus_sea_surface_temp_anomaly_data.csv"
).to_sql(
    name=CLIMATE_TABLENAME6,
    con=engine,
    index=False,
    dtype={"year": sqlalchemy.types.INTEGER(), "sea_surface_temp_anomaly_celcius": sqlalchemy.types.Float(precision=3, asdecimal=True)}
)

# Australia Air Pollutants Table
CLIMATE_TABLENAME7 = "aus_air_pollutants_combined_data" 
engine.execute(f"DROP TABLE IF EXISTS {CLIMATE_TABLENAME7}")

df = pd.read_csv(
    "air_pollutant_data/aus_air_pollutants_combined_data.csv"
).to_sql(
    name=CLIMATE_TABLENAME7,
    con=engine,
    index=False,
    dtype={"year": sqlalchemy.types.INTEGER(), "CO2(ppm)": sqlalchemy.types.Float(precision=3, asdecimal=True), "CH4(ppb)": sqlalchemy.types.Float(precision=3, asdecimal=True), "N2O(ppb)": sqlalchemy.types.Float(precision=3, asdecimal=True)}
)
# End of Climate/Air tables

C:\Users\eshom\.virtualenvs\project_australian_bushfires_webapp-eWD6fA1S\lib\site-packages\ipykernel_launcher.py:21: UserWarning: Could not create database bushfires_db. Database bushfires_db may already exist.